.countries {
  position: relative;
  display: -ms-flexbox;
  // display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .25rem
}

.countries {
  max-width: 990px;
  width: calc(100% - 40px);
  
  background-color: #ffeaea91;

  padding: 20px 10px;
  margin: 30px 20px;
  margin-bottom: 40px;

  display: flex;
  flex-direction: column;
  justify-content: center;

}