.country-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    width: 100%;
    background-color: whitesmoke;
    color: black;
}
img{
    object-fit: ;
}