button {
    display: inline-block;
    border: none;
    padding: 0.5rem;
    margin: 0;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: #0053ba;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}
.button {
    border: none;
    margin: 10px 20px;
  
    font-weight: 100;
    padding: 10px 20px;
    border-radius: 6px;
    display: inline-block;
  
    font-size: 18px;
  
    cursor: pointer;
  
    &--primary {
      background: #404040;
      color: #ffffff;
  
      transition: all 0.3s ease 0s;
  
      &:hover {
        color: #404040;
        font-weight: 700;
        background: none;
        box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        transition: all 0.3s ease 0s;
      }
    }
  
    &--secondary {
      background: rgb(35, 35, 189);
      color: #ffffff;
  
      transition: all 0.3s ease 0s;
  
      &:hover {
        color: rgb(35, 35, 189);
        background: white;
        font-weight: 700;
        box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        transition: all 0.3s ease 0s;
      }
    }
  
    &--tertiary {
      background: black;
      color: #ffffff;
  
      transition: all 0.3s ease 0s;
  
      &:hover {
        color: black;
        background: white;
        box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        transition: all 0.3s ease 0s;
      }
    }
  }
  
  
  h1 {
    font-size: 36px; 
  }
  
  h4 {
    margin: 10px 0px;
    font-size: 25px;
  }
  
  p {
    margin: 5px 0px;
    font-size: 22px;
  }